# Ignore idea folder
idea/

# Ignore output folder
out/
target/

# Ignore iml file
StaffNotes.iml
.idea/misc.xml
.idea/artifacts/
.idea/libraries/
.idea/workspace.xml
.idea/compiler.xml
StaffNotes.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
StaffNotes.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
StaffNotes.iml
